---
import PastCompLayout from "../../layouts/PastCompLayout.astro";
---

<PastCompLayout
year={2022}  
>
<div>
  <h2>2022 Low Power Computer Vision Challenge Overview</h2>
  <p>
    Since 2015, the IEEE Low Power Computer Vision Challenges have attracted top
    researchers worldwide showing their solutions that can achieve high accuracy
    with low energy consumption.
  </p>

  <p>
    Computer Vision research has given little consideration to speed or
    computation time, and even less to constraints such as power/energy, memory
    footprint and model size.
  </p>
  <p>
    Nevertheless, addressing all of these metrics is essential if advances in
    Computer Vision are going to be widely available on mobile and AR/VR
    devices.
  </p>
  <p>
    This
    <a href="https://sites.google.com/view/ecv2022" target="_blank"
      >workshop
    </a>
    focused on efficient deep learning algorithms, models, and systems for
    computer vision.
  </p>
  <h2>2022 Unmanned Aerial Vehicle(UAV) Chase Challenge Overview</h2>
  <p>
    In the 2022 UAV Chase Challenge, competitors used computer vision and
    machine learning to develop solutions for object tracking. Complete
    solutions included not only an object detection model, but also a complete
    control system to pilot a drone. Qualifying solutions were tested on an
    actual drone in Purdue's Unmanned Aerial Systems test facility.
  </p>
  <p>
    More information can be found on the
    <a href="https://ri4rover.org/" target="_blank">ri4rover website</a>.
  </p>
  <p>
    Join us on <a href="https://lpcvc.slack.com/">Slack </a> for more updates
    about future competitions.
  </p>

  <hr />
</div></PastCompLayout>
