---
import PastCompLayout from "../../layouts/PastCompLayout.astro";
---

<PastCompLayout year={2025}>
  <div>
    <h2>2025 LPCVC Overview</h2>

      <p>
        The 2025 IEEE Low-Power Computer Vision Challenge (LPCVC) marked a decade of advancing energy-efficient computer vision technologies.
        In collaboration with Qualcomm, this year’s competition featured three distinct tracks:
      </p>

      <ul>
        <li><strong>Track 1:</strong> Image Classification under Various Lighting Conditions and Formats</li>
        <li><strong>Track 2:</strong> Open-Vocabulary Segmentation with Text Prompt</li>
        <li><strong>Track 3:</strong> Monocular Depth Estimation</li>
      </ul>

      <p>
        The challenge emphasized practical applications on edge devices, encouraging participants to develop models that balance accuracy with low energy consumption.
        The submission window was open from March 1, 2025, to March 31, 2025. Winners were recognized for their innovative approaches and presented their solutions during the CVPR 2025 workshop.
      </p>

      <p>
        A key feature of this year’s competition was the collaboration with Qualcomm, utilizing the Qualcomm AI Hub for model deployment.
        This partnership provided participants access to Qualcomm’s advanced AI tools and platforms, enabling efficient model development and deployment on edge devices.
      </p>

    <hr />
    <!--==========================
    Winner Announcement Section
============================-->
    <h2>2025 LPCVC Winners Announcement</h2>
    <p>
      The 2025 IEEE Low-Power Computer Vision Challenge (LPCVC) 
      concluded successfully on 2025/03/31, after a month-long 
      competition. A total of 59 teams, from 14 different countries 
      and regions, submitted 516 solutions across three tracks, 
      out of which 218 solutions outperformed the baseline solutions.
    </p>

    <p>The winners for each track are as follows:</p>

    <p><strong>Track 1: Image Classification under Various Lighting Conditions and Formats</strong></p>

    <p>
      LabLVM – Score: 0.97406639, Time: 1.612 ms.<br />
      Team members include Seungmin Oh, Hankyul Kang, Seunghun Kang, Jongbin Ryu.
    </p>

    <p><strong>Track 2: Open-Vocabulary Segmentation with Text Prompt</strong></p>

    <p>
      SICer – Score: 0.5321869337, Time: 515.8 ms.<br />
      Team members include Yuning Ji, Zizhou Tong, Zhuohang Li, Xinxin Wang, Chaoyao Shen, Linghui Kong, Chenlong Xia, Bohan Guo, Meng Zhang.
    </p>

    <p><strong>Track 3: Monocular Depth Estimation</strong></p>

    <p>
      Sailor Moon – Score: 83.1397434, Time: 30.4 ms.<br />
      Team members include Kexin Chen, Yuan Qi.
    </p>

    <p>Congratulations to all winners for their outstanding achievements in advancing low-power computer vision research.</p>

    <hr />
    <h2>Competition Progression</h2>
    <p>
      Below is displayed the progression of the submissions over the course of
      the competition. As mentioned above, there was a power outage on 07/10,
      causing the lack of data points around those dates.<br /><br />
      <div style="display: flex;">
        <img
          src="/img/2023Progression/Score_progression.png"
          alt="Score Progression"
          style="width:30%; height: auto; margin-bottom: 20px; margin-right: 5%; border: 1px solid black;"
        />
        <img
          src="/img/2023Progression/Accuracy_progression.png"
          alt="Accuracy Progression"
          style="width:30%; height: auto; margin-bottom: 20px; margin-right: 5%; border: 1px solid black;"
        />
        <img
          src="/img/2023Progression/Speed_progression.png"
          alt="Time Progression"
          style="width:30%; height: auto; margin-bottom: 20px; border: 1px solid black;"
        />
      </div>
    </p>
    <!--
  <p><a href="{% url '2021ICCV/program' %}">ICCV workshop</a> (Low-Power Computer Vision) on October 11: </p>
<iframe src="https://www.youtube.com/embed/6-ZPFQOAhoM" style="margin: 20px" height="320px" width="45%" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Track Winners Presentation:</p>
<iframe src="https://www.youtube.com/embed/HUsUO2AAFh8" style="margin: 20px" height="320px" width="45%" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe src="https://www.youtube.com/embed/5WeqeXMz5pI" style="margin: 20px" height="320px" width="45%" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <hr>


  <h2>Tracks</h2>
  <p>
    <strong>How to participate: </strong>
    <a href="{% url 'login' %}">Login</a> on this website to participate in the following trakcs. A registered account is free to participate any tracks. Detailed instruction can be found on the corresponding information page.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="row">
          <h4 class="title">Online Track - UAV Video</h4>
          <p class="description mb-2">
            Track multiple moving objects in video captured by an unmanned aerial vehicle (UAV).
          </p>
          <a class="align-items-end " href="{% url '2021LPCVC/video-info' %}" target="_blank">More Info</a>
        </div>
      </div>
      <div class="col-md-auto border-right"> </div>
      <div class="col-5">
        <h4 class="title">Online Track - Xilinx Sponsored Track</h4>
        <p class="description mb-2">
          More Information soon to come.
        </p>
        <a class="align-items-end " href="{% url '2021LPCVC/fpga-info' %}" target="_blank">More Info</a>
        <a class="align-items-end " href="" target="_blank">More</a>
      </div>
    </div>
  </div>
-->
    <!--==========================
    Sponsors Section
============================-->

    <hr />
    <h2>Sponsors</h2>
    <center>
      <div class="sponsors-images">
        <a href="https://www.sigda.org/"
          ><img
            class="img-responsive"
            height="150"
            src="/img/sponsors/sigda_acm.jpg"
            alt="Special Interest Group on Design Automation"
          /></a
        >
        <a href="https://ieee-ceda.org/"
          ><img
            class="img-responsive-80 sponsors-logo"
            src="/img/sponsors/ceda_logo.png"
            alt="IEEE CEDA"
          /></a
        >
      </div>
    </center>

    <!--==========================
    Organizers Section
============================-->
    <hr />
    <h2>Organizers</h2>
    <table
      border=""
      class="table table-hover table-striped table-bordered"
      style="margin: 20px 0; align-content: center;"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Role and Organization</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody style="margin-bottom: 0;">
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Yung-Hsiang Lu</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c55">yunglu@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zihao Ye</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">ye277@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Vincent Zhao</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhao1322@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">George Thiruvathukal</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Loyola University Chicago</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">gthiruvathukal@luc.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Mooi Choo Chuah</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">mcc7@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Bo Lang</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">bol221@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zhen Yao</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhy321@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zhihao Zheng</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhzc21@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Shuai Zhang</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">shuazhan@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Xiao Hu</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">hux@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Taotao Jing</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">tjing@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Xin Li</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">lxi@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Kory Watson</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">kwatson@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Ashwin Murthy</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">ashwmurt@qti.qualcomm.com</span></p>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div></PastCompLayout
>
