---
import PastCompLayout from "../../layouts/PastCompLayout.astro";
---

<PastCompLayout year={2025}>
  <div>
    <h2>2025 LPCVC Overview</h2>

      <p>
        The 2025 IEEE Low-Power Computer Vision Challenge (LPCVC) marked a decade of advancing energy-efficient computer vision technologies.
        In collaboration with Qualcomm, this year’s competition featured three distinct tracks:
      </p>

      <ul>
        <li><strong>Track 1:</strong> Image Classification under Various Lighting Conditions and Formats</li>
        <li><strong>Track 2:</strong> Open-Vocabulary Segmentation with Text Prompt</li>
        <li><strong>Track 3:</strong> Monocular Depth Estimation</li>
      </ul>

      <p>
        The challenge emphasized practical applications on edge devices, encouraging participants to develop models that balance accuracy with low energy consumption.
        The submission window was open from March 1, 2025, to March 31, 2025. Winners were recognized for their innovative approaches and presented their solutions during the CVPR 2025 workshop.
      </p>

      <p>
        A key feature of this year’s competition was the collaboration with Qualcomm, utilizing the Qualcomm AI Hub for model deployment.
        This partnership provided participants access to Qualcomm’s advanced AI tools and platforms, enabling efficient model development and deployment on edge devices.
      </p>

    <hr />
    <!--==========================
    Winner Announcement Section
============================-->
    <h2>2025 LPCVC Winners</h2>
    <p>
      The 2025 IEEE Low-Power Computer Vision Challenge (LPCVC) 
      concluded successfully on 2025/03/31, after a month-long 
      competition. A total of 59 teams, from 14 different countries 
      and regions, submitted 516 solutions across three tracks, 
      out of which 218 solutions outperformed the baseline solutions.
    </p>

    <p><strong>Winners for each track are as follows:</strong></p>

    <p>
      <strong>Track 1: Image Classification under Various Lighting Conditions and Formats</strong><br />
      <span style="margin-left: 1em;">LabLVM – Score: 0.97406639, Time: 1.612 ms</span><br />
      <span style="margin-left: 1em;">Team members: Seungmin Oh, Hankyul Kang, Seunghun Kang, Jongbin Ryu</span>
    </p>

    <p>
      <strong>Track 2: Open-Vocabulary Segmentation with Text Prompt</strong><br />
      <span style="margin-left: 1em;">SICer – Score: 0.5321869337, Time: 515.8 ms</span><br />
      <span style="margin-left: 1em;">Team members: Yuning Ji, Zizhou Tong, Zhuohang Li, Xinxin Wang, Chaoyao Shen, Linghui Kong, Chenlong Xia, Bohan Guo, Meng Zhang</span>
    </p>

    <p>
      <strong>Track 3: Monocular Depth Estimation</strong><br />
      <span style="margin-left: 1em;">Sailor Moon – Score: 83.1397434, Time: 30.4 ms</span><br />
      <span style="margin-left: 1em;">Team members: Kexin Chen, Yuan Qi</span>
    </p>

    <p>
      Congratulations to all winners for their outstanding achievements 
      in advancing low-power computer vision research.
    </p>

    <!--==========================
    CVPR Workshop
============================-->

    <hr />
    <h2>8th Workshop on Efficient Deep Learning for Computer Vision</h2>
    <p>
      <div style="display: flex;">
        <img
          src="/img/2025cvpr/IMG_0308.JPG"
          style="width:30%; height: auto; margin-bottom: 20px; margin-right: 5%; border: 1px solid black;"
        />
        <img
          src="/img/2025cvpr/IMG_0322.JPG"
          style="width:30%; height: auto; margin-bottom: 20px; margin-right: 5%; border: 1px solid black;"
        />
        <img
          src="/img/2025cvpr/IMG_0341.jpg"
          style="width:30%; height: auto; margin-bottom: 20px; border: 1px solid black;"
        />
          </div>
    </p>
    
    <!--==========================
    Sponsors Section
============================-->

    <hr />
    <h2>Sponsors</h2>
    <center>
      <div class="sponsors-images">
        <img
          class="img-responsive-80 sponsors-logo"
          src="/img/sponsors/ieee.png"
          alt="IEEE"
        />
        <img
          class="img-responsive-80 sponsors-logo"
          src="/img/sponsors/ieeeCS.png"
          alt="IEEE CS"
        />
        <img
          class="img-responsive-80 sponsors-logo"
          src="/img/sponsors/Qualcomm.png"
          alt="Qualcomm"
        />
      </div>
    </center>

    <!--==========================
    Organizers Section
============================-->
    <hr />
    <h2>Organizers</h2>
    <table
      border=""
      class="table table-hover table-striped table-bordered"
      style="margin: 20px 0; align-content: center;"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Role and Organization</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody style="margin-bottom: 0;">
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Yung-Hsiang Lu</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c55">yunglu@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zihao Ye</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">ye277@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Vincent Zhao</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Purdue University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhao1322@purdue.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">George Thiruvathukal</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Loyola University Chicago</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">gthiruvathukal@luc.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Mooi Choo Chuah</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Professor, Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">mcc7@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Bo Lang</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">bol221@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zhen Yao</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhy321@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Zhihao Zheng</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">
              <span class="c0 c8">Lehigh University</span>
            </p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">zhzc21@lehigh.edu</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Shuai Zhang</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">shuazhan@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Xiao Hu</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">hux@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Taotao Jing</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">tjing@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Xin Li</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">lxi@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Kory Watson</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">kwatson@qti.qualcomm.com</span></p>
          </td>
        </tr>
        <tr class="c7">
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c0 c8">Ashwin Murthy</span></p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5">Qualcomm</p>
          </td>
          <td class="c14" colspan="1" rowspan="1">
            <p class="c5"><span class="c3 c35">ashwmurt@qti.qualcomm.com</span></p>
          </td>
        </tr>
      </tbody>

    </table>
  </div></PastCompLayout
>
