// main: ../main.scss
/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
.blog-posts {
  article {
    background-color: var(--surface-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
  }

  .post-img {
    max-height: 240px;
    margin: -30px -30px 0 -30px;
    overflow: hidden;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 0 0;

    a {
      color: var(--heading-color);
      transition: 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  .meta-top {
    margin-top: 20px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;

      li+li {
        padding-left: 20px;
      }
    }

    i {
      font-size: 16px;
      margin-right: 8px;
      line-height: 0;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
    }

    a {
      color: color-mix(in srgb, var(--default-color), transparent 40%);
      font-size: 14px;
      display: inline-block;
      line-height: 1;
    }
  }

  .content {
    margin-top: 20px;
  }

  .read-more {
    a {
      display: inline-block;
      background: var(--accent-color);
      color: var(--contrast-color);
      padding: 8px 30px;
      transition: 0.3s;
      font-size: 14px;
      border-radius: 4px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color), transparent 20%);
      }
    }
  }
}