// main: ../main.scss
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  padding: 0;

  .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    position: relative;
  }

  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    &:before {
      content: '';
      background: color-mix(in srgb, var(--background-color), transparent 30%);
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }

  .carousel-item::before {
    content: '';
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
  }

  .carousel-container {
    position: absolute;
    inset: 90px 64px 64px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    animation: fadeInDown 1s both;

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  p {
    animation: fadeInDown 1s both 0.2s;
  }

  @media (min-width: 1024px) {

    h2,
    p {
      max-width: 60%;
    }
  }

  .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    animation: fadeInUp 1s both 0.4s;

    &:hover {
      background: color-mix(in srgb, var(--accent-color), transparent 20%);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
    transition: 0.3s;
    opacity: .5;

    &:focus {
      opacity: .5;
    }

    &:hover {
      opacity: .9;
    }

    @media (min-width: 1024px) {
      width: 5%;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }

  .carousel-indicators {
    list-style: none;

    li {
      cursor: pointer;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}