// main: ../main.scss
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
  .service-item {
    background-color: var(--surface-color);
    padding: 30px;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    transition: 0.3s;

    .icon {
      font-size: 36px;
      line-height: 0;
      margin-right: 30px;
      color: var(--accent-color);
    }

    .title {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 20px;

      a {
        color: var(--heading-color);
      }
    }

    .description {
      line-height: 24px;
      font-size: 14px;
      margin: 0;
    }

    &:hover {
      border-color: var(--accent-color);

      .title a {
        color: var(--accent-color);
      }
    }
  }
}