// main: ../main.scss
/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
  .stats-item {
    padding: 30px;
    width: 100%;

    span {
      font-size: 48px;
      display: block;
      color: var(--accent-color);
      font-weight: 700;
    }

    p {
      color: color-mix(in srgb, var(--default-color), transparent 40%);
      padding: 0;
      margin: 0;
      font-family: var(--heading-font);
      font-size: 15px;
      font-weight: 600;
    }
  }
}