// main: ../main.scss
/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team {
  --default-color: #ffffff;

  .member {
    text-align: center;
    position: relative;
    height: 100%;

    .member-info {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;
      transition: 0.2s;
    }

    .member-info-content {
      margin-top: -50px;
      transition: margin 0.2s;
    }

    &:hover {
      .member-info {
        background: rgba(0, 0, 0, .6);
        opacity: 1;
        transition: 0.4s;
      }

      .member-info-content {
        margin-top: 0;
        transition: margin 0.4s;
      }
    }

    h4 {
      color: var(--contrast-color);
      font-weight: 700;
      margin-bottom: 2px;
      font-size: 18px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    .social {
      margin-top: 15px;

      a {
        transition: 0.3s;
        color: var(--default-color);

        &:hover {
          color: var(--accent-color);
        }
      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }
    }
  }
}