*
{
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

html{
  background: linear-gradient(180deg, #000000, #243324);
  margin: 0;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
}

.nav_bar
{
  display: flex;
  justify-content:right;
  align-items: center;
  height: 60px;
  width: 100%;
  background: black;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 15px rgba(239, 235, 235, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 2;
}

.nav_button {
  /* display: inline-block; */
  padding: 7px 12px;
  font-size: 14px;
  /* color: white; */
  /* background: white; */
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

.nav_button:hover {
  /* color: #fff; */
  /* background: linear-gradient(135deg, #00BFFF, #6A5ACD); */
  transform: scale(1.05);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3);
  background: white;
  color: black;
}

@media screen and (max-width: 600px){
  .nav_button
  {
    font-size: 10px;
  }
}

@keyframes smooth-appear {
  to{
    bottom: 20px;
    opacity:1;
  }
}