.card-hover:hover
{
  transform: scale(1.025);
  border-color: aquamarine;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(/assets/img/hero-carousel/image-identification.png);
  animation: slideshow 10s linear infinite;
  animation-delay: -5s;
}

.landing::before,
.landing::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/img/hero-carousel/segmentation.png);
  animation: slideshow 10s linear infinite;
  /* z-index: -1; */
}



.overlay {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 2;
}

.newsletter
{
  background: url(/assets/img/purdue-newsletter.png) center no-repeat fixed;
  background-size: cover;
  position: relative;
  color: black;
  z-index: 1;
  
}

.newsletter::before
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: -1;
}

.line{
  width: 2px;
  height: 12px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.486);
}



