.pulse-container
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pulsing-circle {
  width: 32vw;
  height: 32vw;
  background-color: #213b21; /* Bright green */
  border-radius: 50%;
  animation: pulse 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 20px 20px rgba(0, 255, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.subtitle
{
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  color: rgb(147, 147, 147);
}

.title
{
  font-size: xx-large;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.title_container 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse_text
{
  font-size: 1.7em;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width : 600px) {
  .pulse_text{
    font-size: x-small;
  }
}