Change background color to white and text color to black
body {
  background-color: white; /* Change the page background to white */
  color: black; /* Set the default text color to black */
  margin: 0 auto;
}

.subtitle
{
  color: rgba(80, 55, 55, 0.774);
  /* margin-bottom: 5px; */
  text-align: center;
  /* width: 80%; */
  font-size: 14px;
}

.intro_section
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro_container
{
  width: 100%;
}

.circle
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered_image {
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: auto; 
  padding: 20px 0; 
}


.title {
  font-size: 2.5vw; /* Adjust font size for the main title */
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pulse_title {
  font-size: 2vw; /* Adjust font size for the subtitle */
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.pulse_text {
  font-size: 1.5vw; /* Adjust the text size */
  line-height: 1.6; /* Increase line height for readability */
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Remove the circle and center the content */
.pulse-container {
  width: 100%;
  height: auto; /* Remove the fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add some padding for spacing */
  text-align: center;
}

/* Navigation Bar */
.nav_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  background-color: white; /* Change background to white */
  border-bottom: 1px solid #ccc; /* Optional: Add a bottom border for separation */
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.nav_button {
  margin-left: 20px;
  text-decoration: none;
  color: black; /* Change text color to black */
}

@media screen and (max-width: 600px) {
  .pulse_title, .pulse_text {
    font-size: small; /* Adjust text size for mobile screens */
  }
  
  .nav_button {
    font-size: small; /* Adjust navbar button size for mobile */
  }
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* This creates the aspect ratio (height will be 75% of width) */
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Adjust the padding ratio for smaller screens */
@media (max-width: 768px) {
  .iframe-container {
    padding-bottom: 100%; /* Increase height for mobile screens */
  }
}
