.title
{
  margin-top: 100px;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.card
{
  position: relative;
  height: 60%;
  width: 60%;
  /* display: -ms-flexbox; */
  display: flex;
  /* -ms-flex-direction: column; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  z-index: -1;
  /* padding: 25px; */
  margin-bottom: 5%;
}

.card-body
{
  flex: 1 1 auto;
  padding: 1.25rem;
}

.mb-3
{
  color: black;
  margin-bottom: 1rem !important;
}

.link
{
  text-decoration: none;
  color: green;
}