
{% extends 'competitions/base.html' %}
{% load static %}
{% block cardbody %}

<h2>2021 LPCVC Overview</h2>
<p>Since 2015, the IEEE Low Power Computer Vision Challenges have attracted top
  researchers worldwide showing their solutions that can achieve high accuracy
  with low energy consumption.
  <p>The 2021 Low-Power Computer Vision Challenge (2021 LPCVC) will be hosted
    online and features 2 tracks sponsored by Facebook and Xilinx.
    The challenge will be open for submission from <b>2021/08/01-2021/08/31</b>.
    Winners will present their solutions during the ICCV workshop in October
    2021.
    More details are posted below.
    Please join the online discussion forum <a
      href="https://lpcvc.slack.com/join/shared_invite/enQtOTQzMzA5OTg0NzA0LTY4YjY2YmI2NmM0YTBhMTk1NmEwZjI4NTAxYTEyZTkyZmE4ZWVhZWQ0Y2NkOGFhZmY4NzI0YjU4OGUzMWUwNjE">lpcvc.slack.com</a>.
    <p>*The participant agreement for the LPCVC 2021 contest can be found <a
        href="../../static/21LPCVC Participant Agreement.pdf">here</a>.</p>
    <hr>
    <!--==========================
    Winner Announcement Section
============================-->
    <h2>2021 LPCVC Winners Announcement</h2>
    <p>The 2021 IEEE Low-Power Computer Vision Challenge (LPCVC) concluded
      successfully on 2021/08/31, after a month of competition; 53 teams
      submitted 366 solutions to the two tracks: (1) tracking moving objects in
      video and (2) FPGA object detection. This challenge is sponsored by
      Facebook-PyTorch, Xilinx, and the National Science Foundation
      (CNS-1925713). </p>

    <p>The winners of the video track are:
      <ol>
        <li>First Award: The VITA team from University of Texas at Austin, Texas
          A&M University, and Wormpex AI Research. The team members are Zhenyu
          Wu, Xin Hu, Hao-Yu Miao, Siqi Fan, Taiyu Long, Zhenyu Hu, Pengcheng
          Pi, Yi Wu, Zhou Ren, Zhangyang Wang, and Gang Hua. The first three
          members have equal contributions.</li>
        <li>Second Award: The baseSlim team from Meituan. The team members are
          Yang Yong, Junjie Liu, Ranran Huang, Jiancheng Cai, Jinjin Zhang,
          Shenqi Lai, Xin Ma, Xiaobin Wei, Huanyu Wang, Zhenhua Chai, Xinmin
          Liu, Xiaolin Wei.</li>
        <li>Third Award: The team withdrew.</li>
        <li>Honorable Mentions: The spring team from Zhejiang University,
          University of Sydney, Beihang University. The team members are Yucheng
          Wang, Weitao Feng, Jiahao Hu, Yongqiang Yao, Ruihao Gong, Shuo Wu, Qi
          Zhang, Yusong Wang, Yan Ren, Liang Liu, Yanfei Wang, Fengwei Yu.</li>
      </ol>
    </p>
    <p>
      The winners of the FPGA object detection track are:
      <ol>
        <li>The SPRING team from SenseTime, Beihang University, Peking
          University. The members are Jiahao Hu, Pu Li, Yongqiang Yao, Ruihao
          Gong, Shuo Wu, Yucheng Wang, Liang Liu, Yusong Wang, Fengwei Yu. The
          first four members have equal contributions.</li>
        <li>The MIT HANLAB team from Massachusetts Institute of Technology. The
          members are Zhekai Zhang, Han Cai, and Song Han.</li>
        <li>The NYCU ADAR LAB team from National Yang Ming Chiao Tung University
          and Academia Sinica. The members are Chien-Yao Wang, Yu-Hsiang Huang,
          Jyun-Hua Chen, Ching-Yun Kao, and Juinn-Dar Huang.</li>
      </ol>
    </p>
    <p><a href="{% url '2021ICCV/program' %}">ICCV workshop</a> (Low-Power
      Computer Vision) on October 11: </p>
    <iframe src="https://www.youtube.com/embed/6-ZPFQOAhoM" style="margin: 20px"
      height="320px" width="45%" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <p>Track Winners Presentation:</p>
    <iframe src="https://www.youtube.com/embed/HUsUO2AAFh8" style="margin: 20px"
      height="320px" width="45%" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/5WeqeXMz5pI" style="margin: 20px"
      height="320px" width="45%" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <hr>

    <h2>Tracks</h2>
    <p>
      <strong>How to participate: </strong>
      <a href="{% url 'login' %}">Login</a> on this website to participate in
      the following trakcs. A registered account is free to participate any
      tracks. Detailed instruction can be found on the corresponding information
      page.
    </p>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="row">
            <h4 class="title">Online Track - UAV Video</h4>
            <p class="description mb-2">
              Track multiple moving objects in video captured by an unmanned
              aerial vehicle (UAV).
            </p>
            <a class="align-items-end " href="{% url '2021LPCVC/video-info' %}"
              target="_blank">More Info</a>
          </div>
        </div>
        <div class="col-md-auto border-right"> </div>
        <div class="col-5">
          <h4 class="title">Online Track - Xilinx Sponsored Track</h4>
          <p class="description mb-2">
            More Information soon to come.
          </p>
          <a class="align-items-end " href="{% url '2021LPCVC/fpga-info' %}"
            target="_blank">More Info</a>
          <!--<a class="align-items-end " href="" target="_blank">More</a>-->
        </div>
      </div>
    </div>
    <!--==========================
    Sponsors Section
============================-->
    <hr>
    <h3>Sponsors</h3>
    <center>
      <div class="sponsors-images">
        <a href="https://pytorch.org/"><img
            class="img-responsive-80 img-fluid sponsors-logo"
            src="{% static 'img/sponsors/PyTorch.png' %}" alt="PyTorch"></a>
        <a href="https://www.xilinx.com/"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/xilinx_logo.svg' %}" alt="Xilinx"></a>
      </div>
      <h2 style="font-size: 1px"></h2>
      <div class="sponsors-images">
        <a href="https://ieee-cas.org/"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/cas_logo.png' %}" alt="IEEE CAS"></a>
        <a href="https://ieee-ceda.org/"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/ceda_logo.png' %}" alt="IEEE CEDA"></a>
        <a href="https://rebootingcomputing.ieee.org"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/ieee-rebooting-computing.png' %}"
            alt="Rebooting Computing" style></a>
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1925713"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/nsf_logo.jpeg' %}" alt="NSF"></a>
        <a href="https://www.mediatek.com/"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/mediatek.png' %}" alt="Mediatek"
            style></a>
        <a href="http://www.emc.com.tw/emc/tw/"><img
            class="img-responsive-80 sponsors-logo"
            src="{% static 'img/sponsors/elanlogo.jpeg' %}"
            alt="Elan Microelectronics"></a>
      </div>
    </center>

    <!--==========================
    Organizers Section
============================-->
    <hr>
    <h3>Organizers</h3>
    <table border class="table table-hover table-striped table-bordered"
      style="margin: 20px 0">
      <thead>
        <tr>
          <th width="20%;">Name</th>
          <th width="56%;">Role and Organization</th>
          <th width="24%;">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Mohamed M. Sabry Aly</td><td>IEEE Council on Design Automation,
            Nanyang Technolgical University</td><td><a
              href="mailto:msabry@ntu.edu.sg">msabry@ntu.edu.sg</a></td></tr>
        <tr><td>Alexander C Berg</td><td>University of North Carolina</td><td><a
              href="mailto:aberg@cs.unc.edu">aberg@cs.unc.edu</a></td></tr>
        <tr><td>Ming-Ching Chang</td><td>University at Albany - SUNY</td><td><a
              href="mailto:mchang2@albany.edu">mchang2@albany.edu</a></td></tr>
        <tr><td>Shu-Ching Chen</td><td>Florida International
            University</td><td><a
              href="mailto:chens@cs.fiu.edu">chens@cs.fiu.edu</a></td></tr>
        <tr><td>Yen-Kuang Chen</td><td>IEEE Circuits and Systems Society,
            Alibaba</td><td><a
              href="mailto:y.k.chen@ieee.org">y.k.chen@ieee.org</a></td></tr>
        <tr><td>Yiran Chen</td><td>ACM Speical Interest Group on Design
            Automation, Duke University</td><td><a
              href="mailto:yiran.chen@duke.edu">yiran.chen@duke.edu</a></td></tr>
        <tr><td>Chia-Ming Cheng</td><td>Mediatek</td><td><a
              href="mailto:cm.cheng@mediatek.com">cm.cheng@mediatek.com</a></td></tr>
        <tr><td>Bohyung Han</td><td>Seoul National University</td><td><a
              href="mailto:bhhan@snu.ac.kr">bhhan@snu.ac.kr</a></td></tr>
        <tr><td>Xiao Hu</td><td>lpcv.ai submission manager, Purdue
            student</td><td><a
              href="mailto:hu440@purdue.edu">hu440@purdue.edu</a></td></tr>
        <tr><td>Anirudh Vegesana</td><td>lpcv.ai submission manager, Purdue
            student</td><td><a
              href="mailto:avegesan@purdue.edu">avegesan@purdue.edu</a></td></tr>
        <tr><td>Christian Keller</td><td>Facebook</td><td><a
              href="mailto:chk@fb.com">chk@fb.com</a></td></tr>
        <tr><td>Mark Liao</td><td>Academia Sinica, Taiwan</td><td><a
              href="mailto:liao@iis.sinica.edu.tw">liao@iis.sinica.edu.tw</a></td></tr>
        <tr><td>Tsung-Han Lin</td><td>Mediatek</td><td><a
              href="mailto:Tsung-Han.Lin@mediatek.com">Tsung-Han.Lin@mediatek.com</a></td></tr>
        <tr><td><b>(contact)</b> Yung-Hsiang Lu</td><td>Chair, Purdue University
            Professor</td><td><a
              href="mailto:yunglu@purdue.edu">yunglu@purdue.edu</a></td></tr>
        <tr><td>An Luo</td><td>Amazon</td><td><a
              href="mailto:anluo@amazon.com">anluo@amazon.com</a></td></tr>
        <tr><td>Terence Martinez</td><td>IEEE Future Directions</td><td><a
              href="mailto: t.c.martinez@ieee.org">
              t.c.martinez@ieee.org</a></td></tr>
        <tr><td>Ryan McBee</td><td>Southwest Research Institute</td><td><a
              href="mailto:ryan.mcbee@swri.org">ryan.mcbee@swri.org</a></td></tr>
        <tr><td>Andreas Moshovos</td><td>University of Toronto/Vector
            Institute</td><td><a
              href="mailto:moshovos@ece.utoronto.ca">moshovos@ece.utoronto.ca</a></td></tr>
        <tr><td>Naveen Purushotham</td><td>Xilinx Inc.</td><td><a
              href="mailto:npurusho@xilinx.com">npurusho@xilinx.com</a></td></tr>
        <tr><td>Tim Rogers</td><td>Purdue</td><td><a
              href="mailto:timrogers@purdue.edu">timrogers@purdue.edu</a></td></tr>
        <tr><td>Mei-Ling Shyu</td><td>IEEE Multimedia Technical Committee, Miami
            University</td><td><a
              href="mailto:shyu@miami.edu">shyu@miami.edu</a></td></tr>
        <tr><td>Ashish Sirasao</td><td>Xilinx Inc.</td><td><a
              href="mailto:asirasa@xilinx.com">asirasa@xilinx.com</a></td></tr>
        <tr><td>Joseph Spisak</td><td>Facebook</td><td><a
              href="mailto:jspisak@fb.com">jspisak@fb.com</a></td></tr>
        <tr><td>George K. Thiruvathukal</td><td>Loyola University
            Chiicago</td><td><a
              href="mailto:gkt@cs.luc.edu">gkt@cs.luc.edu</a></td></tr>
        <tr><td>Yueh-Hua Wu</td><td>Academia Sinica, Taiwan</td><td><a
              href="mailto:kriswu@iis.sinica.edu.tw">kriswu@iis.sinica.edu.tw</a></td></tr>
        <tr><td>Junsong Yuan</td><td>University at Buffalo</td><td><a
              href="mailto:jsyuan@buffalo.edu">jsyuan@buffalo.edu</a></td></tr>
        <tr><td>Carole-Jean Wu</td><td>Facebook</td><td><a
              href="mailto:carolejeanwu@fb.com">carolejeanwu@fb.com</a></td></tr>
      </tbody>
    </table>
    {% endblock %}