// main: ../main.scss
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;

  .footer-top {
    padding-top: 50px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .footer-about {
    .logo {
      line-height: 1;
      margin-bottom: 25px;

      img {
        max-height: 40px;
        margin-right: 6px;
      }

      span {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: var(--heading-font);
        color: var(--heading-color);
      }
    }

    p {
      font-size: 14px;
      font-family: var(--heading-font);
    }
  }

  .social-links {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 16px;
      color: color-mix(in srgb, var(--default-color), transparent 30%);
      margin-right: 10px;
      transition: 0.3s;

      &:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
      }
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }

        display: flex;
        align-items: center;
      }

      a {
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        display: inline-block;
        line-height: 1;

        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }

  .footer-contact {
    p {
      margin-bottom: 5px;
    }
  }

  .footer-newsletter {
    .newsletter-form {
      margin-top: 30px;
      margin-bottom: 15px;
      padding: 6px 8px;
      position: relative;
      border-radius: 4px;
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
      display: flex;
      background-color: var(--background-color);
      transition: 0.3s;

      &:focus-within {
        border-color: var(--accent-color);
      }

      input[type="email"] {
        border: 0;
        padding: 4px;
        width: 100%;
        background-color: var(--background-color);
        color: var(--default-color);
      }

      input[type="email"]:focus-visible {
        outline: none;
      }

      input[type="submit"] {
        border: 0;
        font-size: 16px;
        padding: 0 20px;
        margin: -7px -8px -7px 0;
        background: var(--accent-color);
        color: var(--contrast-color);
        transition: 0.3s;
        border-radius: 0 4px 4px 0;

        &:hover {
          background: color-mix(in srgb, var(--accent-color), transparent 20%);
        }
      }
    }
  }

  .copyright {
    padding: 25px 0;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);

    p {
      margin-bottom: 0;
    }
  }

  .credits {
    margin-top: 6px;
    font-size: 13px;
  }
}