// main: ../main.scss
/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    position: absolute;
    inset: 0;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .breadcrumbs {
    ol {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 400;

      li+li {
        padding-left: 10px;
      }

      li+li::before {
        content: "/";
        display: inline-block;
        padding-right: 10px;
        color: color-mix(in srgb, var(--default-color), transparent 50%);
      }
    }
  }
}