.portfolio-item {
  position: relative;
  overflow: hidden; /* Ensures nothing escapes the container */
  border-radius: 8px;
  height: 300px; /* Consistent height */
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.index-page
{
  min-height: auto;
}

.main
{
  background: url(/static/img/purdue-bg1.jpg) center top no-repeat fixed;
  background-size: cover;
  padding: 60px;
  position: relative;
  color: black;
  z-index: 1;
}

.main::before
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: -1;
}

