---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <section id="facts">
      <div class="container">
        <article class="col-md-12">
          <div class="container">
            <header class="section-header text-center" id="data">
              <h3>2025 IEEE Low Power Computer Vision Challenge</h3>
              <h4 class="p-0"><strong>Winners</strong></h4>
            </header>
            <article class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h3>
                    Track 1: Image classification under various lighting
                    conditions and formats
                  </h3>
                  <ol>
                    <li>
                      <strong>Winner:</strong> SEU AIC LAB
                      <ul>
                        <li><strong>Location:</strong> China</li>
                        <li>
                          <strong>Organization:</strong> Southeast University
                        </li>
                      </ul>
                    </li>
                    <li>
                      <strong>2nd Place:</strong> Sailor Moon
                      <ul>
                        <strong>Location:</strong> United States of America
                      </ul>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </li>
                  </ol>
                  <li>
                    <strong>3rd Place:</strong> Circle
                    <ul>
                      <li>
                        <strong>Location:</strong> United States of America
                      </li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                </div>
              </div>
            </article>
          </div>

          <article class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h3>Track 2: Open-Vocabulary Segmentation with Text Prompt</h3>
                <ol>
                  <li>
                    <strong>Winner:</strong> SICer
                    <ul>
                      <li><strong>Location:</strong> China</li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong>2nd Place:</strong> MaXinLab
                    <ul>
                      <li>
                        <strong>Location:</strong> United States of America
                      </li>
                      <li><strong>Organization:</strong> UCI</li>
                    </ul>
                  </li>
                  <li>
                    <strong>3rd Place:</strong> Sailor Moon
                    <ul>
                      <li>
                        <strong>Location:</strong> United States of America
                      </li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                </ol>
              </div>
            </div>
          </article>

          <article class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h3>Track 3: Monocular Depth Estimation</h3>
                <ol>
                  <li>
                    <strong>Winner:</strong> Sailor Moon
                    <ul>
                      <li>
                        <strong>Location:</strong> United States of America
                      </li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong>2nd Place:</strong> Unnamed
                    <ul>
                      <li><strong>Location:</strong> China</li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                  <li>
                    <strong>3rd Place:</strong> Circle
                    <ul>
                      <li>
                        <strong>Location:</strong> United States of America
                      </li>
                      <li>
                        <strong>Organization:</strong> (Not specified)
                      </li>
                    </ul>
                  </li>
                </ol>
              </div>
            </div>
          </article>
          <div style="padding-bottom: 25px"></div>
          <!-- add blank row -->
        </article>
      </div>
      <div style="padding-bottom: 25px"></div>
    </section>
  </main>
</Layout>
<script is:inline src="/js/main_noIndex.js"></script>
