---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main>
    <section id="facts">
      <div class="container">
        <article class="col-md-12">
          <div class="container">
            <header class="section-header text-center" id="data">
              <h3>2025 IEEE Low Power Computer Vision Challenge</h3>
              <h4 class="p-0"><strong>Winners</strong></h4>
            </header>
            <article class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h3>
                    Track 1: Image classification under various lighting
                    conditions and formats
                  </h3>
                  <ol>
                    <li>
                      <strong>Winner:</strong> LabLVM
                      <ul>
                        <li><strong>Location:</strong> Republic of Korea</li>
                        <li>
                          <strong>Organization:</strong> Ajou University
                        </li>
                        <li><strong>GitHub:</strong> (Link TBD)</li>
                      </ul>
                    </li>
                    <li>
                      <strong>2nd Place:</strong> SEU AIC LAB
                      <ul>
                        <li><strong>Location:</strong> China</li>
                        <li>
                          <strong>Organization:</strong> Southeast University
                        </li>
                        <li><strong>GitHub:</strong> (Link TBD)</li>
                      </ul>
                    </li>
                    <li>
                      <strong>3rd Place:</strong> ETF Amigo
                      <ul>
                        <li><strong>Location:</strong> Serbia</li>
                        <li>
                          <strong>Organization:</strong> University of Belgrade,
                          School of Electrical Engineering
                        </li>
                        <li><strong>GitHub:</strong> <a href="https://github.com/masadj415/LPCV_2025_ETF_Amigo" target="_blank">CASVIT</a></li>
                      </ul>
                    </li>
                  </ol>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h3>
                    Track 2: Open-Vocabulary Segmentation with Text Prompt
                  </h3>
                  <ol>
                    <li>
                      <strong>Winner:</strong> SICer
                      <ul>
                        <li><strong>Location:</strong> China</li>
                        <li>
                          <strong>Organization:</strong> (Not specified)
                        </li>
                        <li><strong>GitHub:</strong> (Link TBD)</li>
                      </ul>
                    </li>
                    <li>
                      <strong>2nd Place:</strong> Sailor Moon
                      <ul>
                        <li>
                          <strong>Location:</strong> United States of America
                        </li>
                        <li><strong>Organization:</strong> University of Minnesota
                        </li>
                        <li><strong>GitHub:</strong> <a href="https://github.com/chen7545/LPCVC2025_SailorMoon_Track2" target="_blank">Edge-Decoder</a></li>
                      </ul>
                    </li>
                    <li>
                      <strong>3rd Place:</strong> MaXinLab
                      <ul>
                        <li>
                          <strong>Location:</strong> United States of America
                        </li>
                        <li>
                          <strong>Organization:</strong> (Not specified)
                        </li>
                        <li><strong>GitHub:</strong> (Link TBD)</li>
                      </ul>
                    </li>
                  </ol>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h3>Track 3: Monocular Depth Estimation</h3>
                  <ol>
                    <li>
                      <strong>Winner:</strong> Sailor Moon
                      <ul>
                        <li>
                          <strong>Location:</strong> United States of America
                        </li>
                        <li>
                          <strong>Organization:</strong> University of Minnesota
                        </li>
                        <li><strong>GitHub:</strong> <a href="https://github.com/chen7545/LPCVC2025_SailorMoon_Track3" target="_blank">EfficientDepth</a></li>
                      </ul>
                    </li>
                    <li>
                      <strong>2nd Place:</strong> Unnamed
                      <ul>
                        <li><strong>Location:</strong> China</li>
                        <li>
                          <strong>Organization:</strong> (Not specified)
                        </li>
                        <li><strong>GitHub:</strong> (Link TBD)</li>
                      </ul>
                    </li>
                    <li>
                      <strong>3rd Place:</strong> Circle
                      <ul>
                        <li>
                          <strong>Location:</strong> United States of America
                        </li>
                        <li>
                          <strong>Organization:</strong> (Not specified)
                        </li>
                        <li><strong>GitHub:</strong> <a href="https://github.com/yiliayuan/LPCVC2025Track3_Circle" target="_blank">Modified DepthAnythingV2</a></li>
                      </ul>
                    </li>
                  </ol>
                </div>
              </div>
            </article>
          </div>
          <div style="padding-bottom: 25px"></div>
          <!-- add blank row -->
        </article>
      </div>
      <div style="padding-bottom: 25px"></div>
    </section>
  </main>
</Layout>
<script is:inline src="/js/main_noIndex.js"></script>
