---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section id="facts">
      <div class="container">
        <header class="section-header">
          <h3>Publications</h3>
        </header>

        <div class="card" style="height: auto">
          <div class="card-body">
            <ul>
              <!-- {% for name, url, authors, info in pubs reversed %}
              <li class="mb-3">
                {{ authors }}, "<a href="{{ url }}">{{ name }}</a>", {{ info }}.
              </li>
            {% endfor %} -->

              <li class="mb-3">
                Xiao Hu, Ziteng Jiao, Ayden Kocher, Zhenyu Wu, Junjie Liu, James
                C. Davis, George K. Thiruvathukal, Yung-Hsiang Lu, "
                <a
                  href="https://ieeexplore.ieee.org/abstract/document/10206066"
                >
                  Evolution of Winning Solutions in the 2021 IEEE Low-Power
                  Computer Vision Challenge
                </a>", IEEE Computer ( Volume: 56, Issue: 8, August 2023).
              </li>
              <li class="mb-3">
                Xiao Hu, Ming-Ching Chang, Yuwei Chen, Rahui Sridhar, Zhenyu Hu,
                Yunhe Xue, Zhenyu Wu, Pengcheng Pi, Jiayi Shen, Jianchao Tan,
                Xiangru Lian, Ji Liu, Zhangyang Wang, Chia-Hsiang Liu, Yu-Shin
                Han, Yuan-Yao Sung, Yi Lee, Kai-Chiang Wu, Wei-Xiang Guo, Rick
                Lee, Shengwen Liang, Zerun Wang, Guiguang Ding, Gang Zhang, Teng
                Xi, Yubei Chen, Han Cai, Ligeng Zhu, Zhekai Zhang, Song Han,
                Seonghwan Jeong, YoungMin Kwon, Tianzhe Wang, Jeffery Pang, "
                <a href="https://ieeexplore.ieee.org/document/9458522">
                  The 2020 IEEE Low-Power Computer Vision Challenge
                </a>", 2021 IEEE 3rd International Conference on Artificial
                Intelligence Circuits and Systems (AICAS).
              </li>
              <li class="mb-3">
                Matthew Ardi, Alexander C Berg, Bo Chen, Yen-Kuang Chen, Yiran
                Chen, Donghyun Kang, Junhyeok Lee, Seungjae Lee, Yang Lu,
                Yung-Hsiang Lu, Fei Sun,"
                <a
                  href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8771606"
                >
                  Special Session: 2018 IEEE Low-Power Image Recognition
                  Challenge and Beyond
                </a>", IEEE International Conference on Artificial Intelligence
                Circuits and Systems 2019.
              </li>
              <li class="mb-3">
                Sergei Alyamkin, Matthew Ardi, Alexander C. Berg, Achille
                Brighton, Bo Chen, Yiran Chen, Hsin-Pai Cheng, Zichen Fan, Chen
                Feng, Bo Fu, Kent Gauen, Jongkook Go, Abhinav Goel, Alexander
                Goncharenko, Xuyang Guo, Soonhoi Ha, Andrew Howard, Xiao Hu,
                Yuanjun Huang, Donghyun Kang, Jaeyoun Kim, Alexander Kondratyev,
                Junhyeok Lee, Seungjae Lee, Suwoong Lee, Zichao Li, Zhiyu Liang,
                Juzheng Liu, Xin Liu, Yang~Lu, Yung-Hsiang Lu (Corresponding
                Author), Deeptanshu Malik, Hong Hanh Nguyen, Eunbyung Park,
                Denis Repin, Liang Shen, Tao Sheng, Fei~Sun, David~Svitov,
                George K. Thiruvathukal, Baiwu Zhang, Jingchi Zhang, Xiaopeng
                Zhang, Shaojie Zhuo"
                <a
                  href="https://engineering.purdue.edu/HELPS/Publications/papers/2019JESTCS.pdf"
                >
                  Low-Power Computer Vision: Status, Challenges, Opportunities
                </a>", EEE Journal on Emerging and Selected Topics in Circuits
                and Systems, Pages 411-421, Volume 9, Issue.
              </li>
              <li class="mb-3">
                Yung-Hsiang Lu,"
                <a
                  href="https://www.nature.com/articles/s42256-019-0041-4.epdf?author_access_token=Ymd-6wL3NRWs8I2Wze1VcNRgN0jAjWel9jnR3ZoTv0PV_WYHj6ZTHBfQrzxNpeQy8WMyIvvL1I6JOeDsLMdtzpWiejkh40WkiBFFY9pLWtt853dCBg_-Up_ARQBoi"
                >
                  Low-power image recognition (Challenge Accepted)
                </a>", Nature Machine Learning Vol 1, April 2019.
              </li>
              <li class="mb-3">
                Kent Gauen, Ryan Dailey, Yung-Hsiang Lu, Eunbyung Park, Wei Liu,
                Alexander C. Berg, Yiran Chen,"
                <a
                  href="https://engineering.purdue.edu/HELPS/Publications/papers/2018DATEGauen"
                >
                  Three Years of Low-Power Image Recognition Challenge:
                  Introduction to Special Session
                </a>", Design Automation and Test in Europe 2018.
              </li>
              <li class="mb-3">
                Sergei Alyamkin, Matthew Ardi, Achille Brighton, Alexander C.
                Berg, Yiran Chen, Hsin-Pai Cheng, Bo Chen, Zichen Fan, Chen
                Feng, Bo Fu, Kent Gauen, Jongkook Go, Alexander Goncharenko,
                Xuyang Guo, Hong Hanh Nguyen, Andrew Howard, Yuanjun Huang,
                Donghyun Kang, Jaeyoun Kim, Alexander Kondratyev, Seungjae Lee,
                Suwoong Lee, Junhyeok Lee, Zhiyu Liang, Xin Liu, Juzheng Liu,
                Zichao Li, Yang Lu, Yung-Hsiang Lu, Deeptanshu Malik, Eunbyung
                Park, Denis Repin, Tao Sheng, Liang Shen, Fei Sun, David Svitov,
                George K. Thiruvathukal, Baiwu Zhang, Jingchi Zhang, Xiaopeng
                Zhang, Shaojie Zhuo,"
                <a href="https://arxiv.org/abs/1810.01732">
                  2018 Low-Power Image Recognition Challenge
                </a>", None.
              </li>
              <li class="mb-3">
                Kent Gauen, Rohit Rangan, Anup Mohan, Yung-Hsiang Lu Wei Liu,
                Alexander C. Berg,"
                <a
                  href="https://engineering.purdue.edu/HELPS/Publications/papers/2017ASPDAC.pdf"
                >
                  Low-Power Image Recognition Challenge
                </a>", Asia and South Pacific Design Automation Conference 2017.
              </li>
              <li class="mb-3">
                Yung-Hsiang Lu, Alan M. Kadin, Alexander C. Berg, Thomas M.
                Conte, Erik P. DeBenedictis, Rachit Garg, Ganesh Gingade,
                Bichlien Hoang, Yongzhen Huang, Boxun Li, Jingyu Liu, Wei Liu,
                Huizi Mao, Junran Peng, Tianqi Tang, Elie K. Track, Jingqiu
                Wang, Tao Wang, Yu Wang, Jun Yao,"
                <a
                  href="https://engineering.purdue.edu/HELPS/Publications/papers/ICCAD2015.pdf"
                >
                  Rebooting Computing and Low-Power Image Recognition Challenge
                </a>", International Conference on Computer Aided Design 2015
                (invited paper in a special session).
              </li>
            </ul>
          </div>
        </div>
        <div style="padding-bottom: 25px"></div>
      </div>
    </section>
  </main>
</Layout>
