---
const { header, url } = Astro.props;
--- 

<div class="card">
  <div style="display: flex; justify-content: center;">
    <iframe
      src={`https://docs.google.com/document/d/e/${url}/pub?embedded=true&t=${Date.now()}`}
      title={header}
      id="content"
      style="border:none; width: 80%; min-height: 100vh;"
    ></iframe>
  </div>
</div>
