---
const { header, url } = Astro.props;

const embeddedUrl = `${url}?embedded=true`;
---

<main>
  <section id="facts">
    <div class="container">
      <header class="section-header text-center" id="data">
        <h3>2025 IEEE LOW-POWER COMPUTER VISION CHALLENGE</h3>
        <h4 class="p-0"><strong>{header}</strong></h4>
      </header>

      <div class="card">
        <div style="display: flex; justify-content: center;">
          <!-- Center the iframe horizontally -->
          <iframe
            src={`/api/gdoc_proxy/${url}`}
            onload="AdjustIframeHeightOnLoad()"
            style="border:none; width: 80%;"
            id="content"
          >
          </iframe>
        </div>

        <script type="text/javascript">
          function AdjustIframeHeightOnLoad() {
            document.getElementById("content").style.height =
              50 +
              document.getElementById("content").contentWindow.document.body
                .scrollHeight +
              "px";
          }
          function AdjustIframeHeight(i) {
            document.getElementById("content").style.height =
              50 + parseInt(i) + "px";
          }
          window.addEventListener("resize", AdjustIframeHeightOnLoad);
        </script>
      </div>

      <div class="pb-4"></div>
      <!-- add blank row -->
      <!-- </div> -->
    </div>
  </section>
</main>
