---

---

<button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
<header id="header">
  <div class="container-fluid">
    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto">LPCV</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/#newsletter">Newsletter</a></li>
        <li class=""><a href="/">Home</a></li>

        <li class="menu-has-children">
          <a href="/2025LPCVC/introduction">2025 LPCVC</a>
          <ul>
            <li><a href="/2025LPCVC/introduction">Introduction</a></li>
            <li><a href="/2025LPCVC/submission/track1">Model Submission</a></li>
            <li><a href="/2025LPCVC/image-classification">Track 1</a></li>
            <li><a href="/2025LPCVC/open-vocabulary">Track 2</a></li>
            <li><a href="/2025LPCVC/monocular-depth">Track 3</a></li>
          </ul>
        </li>

      <li class="menu-has-children">
        <a href="/competitions/c2023">History</a>
        <ul>
          <li class=""><a href="/competitions/c2023">Past Workshops</a></li>
        </ul>
      </li>

      <li class=""><a href="/publications/">Publications</a></li>
    </ul>
    </nav>
  </div>
</header>
