---
export async function getStaticPaths() {
  // Example: an array of document IDs you want to support
  const docs = [
    "1KHcvSp1x02j3OPh0X3jCv0P8znpXwNRSuLl1QP2rzwM",
    "1FAIpQLSdtw4NQ4W5r1r-SLG_P87tFs1R5syAK8EWpXo9tK5IiHUzKqw",
    "1FAIpQLSe9Brw0Cy-thX4XTGKvo_IkSN0Vvnzbg2cpNrS5EH8aRfDdvw",
    "1FAIpQLSfkELitTZpxfWc7y47e5ZBDJbQibDIE0FWJedJ05IHzHy9s2w",
    "1hUMk0QNm86OSuGR5daMCSSdCh7DH9zs_oTLjM2oZm3s",
    "1hUMk0QNm86OSuGR5daMCSSdCh7DH9zs_oTLjM2oZm3s",
    "1ot_wzkCyXhGT_J5MfP3TbAXlWq9VYVgzHLO1FscZJg4",
  ];

  // Map each document to an object expected by Astro's routing.
  return docs.map((doc) => ({
    params: { document_url: doc },
  }));
}

// export const prerender = false;

const { document_url } = Astro.params;
const googleDocsUrl =
  "https://docs.google.com/document/d/" + document_url + "/pub?embedded=true";

console.log(googleDocsUrl);

// Fetch the Google Docs content
const response = await fetch(googleDocsUrl);
const htmlContent = await response.text();

// Insert the base tag to open links in a new tab
// const modifiedContent = htmlContent.replace('<head>', '<head><base target="_blank">');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document Proxy</title>
  </head>
  <body>
    <!-- Render the modified document -->
    <Fragment set:html={htmlContent} />
  </body>
</html>
