---
import Nav from "../components/Nav.tsx";
import "../styles/bootstrap.min.css";
import "../styles/style.css";
import "../styles/animate.min.css";
import "../styles/font-awesome/styles/font-awesome.min.css";
import "../styles/ionicons/css/ionicons.min.css";
import "../styles/lightbox.min.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LPCV - Low Power Computer Vision</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="low power, computer vision, LPCVC, LPIRC, IEEE Low-Power Computer Vision Challenge"
      name="keywords"
    />
    <meta
      content="The Low Power Computer Vision workshop will discuss the state of the art of low-power computer vision, challenges in creating efficient vision solutions, promising technologies that can achieve the goals, methods to acquire and label data, benchmarks and metrics to evaluate progress and success."
      name="description"
    />
    <link href="/img/favicon.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <Nav client:load />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
